/* style for whole container division */
.container{
    width:100%;
    height: 100vh;
    background:linear-gradient(45deg, pink,beige);
    justify-content:center;
    display: flex;
    align-items: center;
    color:blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
/* style for title */
.title{
    text-align: center;
    color:blue;
   

}
/* style for element*/
.child{
    align-self: center;
    
}